config mediamtx
	# luci-app-camera and camera-onvif-server need to know about this port.
	# By default, it's set to 9997.
	option api_address '127.0.0.1:9997'
	option webrtc_address ':8889'
	option hls_address ':8888'
	# This port is also in the camera-onvif-server configuration
	# as it needs to return the correct stream URL.
	option rtsp_address ':554'
