.upgrade-state {
	position: relative;
	top: calc(50% + 50px);
	width: 100px;
	height: 100px;
	margin:auto;
	content: " ";
	background: var(--primary-color-low,  #601489);
	mask: var(--icon) center/cover no-repeat;
	-webkit-mask: var(--icon) center/cover no-repeat;
}

.upgrade-state.loading,
.upgrade-state.downloading {
	--icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' stroke='%23000' stroke-width='1' fill='none'><circle cx='10' cy='10' r='8' stroke-opacity='0'/><path stroke-linecap='round' d='M10 2c4 0 8 4 8 8'><animateTransform attributeName='transform' type='rotate' dur='1s' from='0 10 10' to='360 10 10' repeatCount='indefinite'/></path></svg>");
}

.upgrade-state.updated {
	--icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16'/><path d='M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05'/></svg>");

	--updated-high: var(--success-color-high, rgb(0, 172, 89));
	--updated-low: var(--success-color-low, #007936);
	background: linear-gradient(var(--updated-low), var(--updated-high), var(--updated-low));
}

.upgrade-state.upgrade-ready {
	--icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z'/></svg>");
	--upgrade-ready-high: var(--primary-color-high, #901ece);
	--upgrade-ready-low: var(--primary-color-low, #601489);
	background: linear-gradient(var(--upgrade-ready-low), var(--upgrade-ready-high), var(--upgrade-ready-low));
}

.upgrade-state.download-ready {
	--icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-down-circle' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z'/></svg>");
	--upgrade-ready-high: var(--primary-color-high, #901ece);
	--upgrade-ready-low: var(--primary-color-low, #601489);
	background: linear-gradient(var(--upgrade-ready-low), var(--upgrade-ready-high), var(--upgrade-ready-low));
}

.upgrade-state.error {
	--icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16'/><path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708'/></svg>");

	--error-high: var(--error-color-high, rgb(246, 43, 18));
	--error-low: var(--error-color-low, #d00000);
	background: linear-gradient(var(--error-low), var(--error-high), var(--error-low));
}