details, section.message {
    ul {
        padding: revert;
        li {
            list-style-type: revert;
        }
    }
}

.cbi-section {
    .cbi-value-title {
        font-weight: bold;
    }
}

morse-config-diagram {
    padding-bottom: 1rem;
}

@media (width < 1200px) {
    morse-config-diagram {
        width: 100%;
    }
}

/* Unfortunately, the raw diagrams are slightly different heights.
 * To avoid annoying jumping, this is a quick hack for larger
 * (i.e. most desktop) screens to fix the height to the mesh diagram
 * height. Unclear how to wrangle CSS the way I want; should probably
 * make sure the original one was correct.
 */
@media (width >= 1200px) {
    morse-config-diagram {
        height: 460px;
    }
}

/* Taken from cbi-value-description styling */
#maincontent .alert-message.notice:not(:empty)::before {
	--help-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><path d='M10 0A10 10 0 000 10a10 10 0 0010 10 10 10 0 0010-10A10 10 0 0010 0zm1 17H9v-2h2v2zm2.1-7.7l-.9.9c-.8.7-1.2 1.3-1.2 2.8H9v-.5c0-1.1.4-2.1 1.2-2.8l1.2-1.3c.4-.3.6-.8.6-1.4a2 2 0 00-2-2 2 2 0 00-2 2H6a4 4 0 014-4 4 4 0 014 4c0 .9-.4 1.7-.9 2.3z'/></svg>");

	content: "\a0";
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-right: .25em;
	background: var(--primary-color-high);
	mask-image: var(--help-icon);
	mask-size: cover;
	-webkit-mask-image: var(--help-icon);
	-webkit-mask-size: cover;
}